
   
 

<h2>books are coming soon</h2>

<h2> listing table </h2>


 <table>
  <thead>
   <tr>
    <th>book_id</th>
    <th>book_name</th>
    </tr> 
   </thead>

    <tbody>
 
         <% @books.each do |book| %>
         <tr>
           <td><%=book.id%> </td>
           <td><%=book.name%></td>
             <td><%= link_to "Show",book%></td>
             <td><%=link_to "update",edit_book_path(book)%>
           
         </tr>
         <%end%>
    </tbody>





     <%# <%= form_with model: @book do |f| %>
   
   <%# <%= f.collection_radio_buttons :author_id, Author.order(:name), :id, :name %> %>
<%# <% end %> %>

 %>
 
<%= form_with model: @book do |form| %>
  <%= text_field_with_label form, :first_name %>
  <%= text_field_with_label form, :id%>
<% end %>
 